.contenedorBarra{
  background-color: whitesmoke;
  border-bottom: 1px solid thistle;
}

.logoBarra{
  height: 90px;
}

.imgPerfil{
  height: 55px;
  border-radius: 150px;
}

.menu:hover{
  color:red;
  border-bottom: 3px solid red;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  background-color: unset;
}
.dropdown-item.active:hover, .dropdown-item:active:hover {
  color: white;
  background-color: red;
}
.img_Perfil{
  text-align: center;
}

.dropdown-toggle::after{
  content: none;
}

.perfilUsuario{
  
}

