.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F92438;
    padding: 0.5rem;
  }
  .username {
    color: #FFFFFF;
    font-size: 2.2rem;
    margin: 0;
  }
  .nombre-usuario span {
    margin-left: 10rem;
  }

  .nav-principal a {
    color: #FFFFFF;
    
  }
  .nav-principal a:first-of-type {
    margin-right: 2rem;
  }