.contenedorBarra{
  background-color: whitesmoke;
  border-bottom: 1px solid thistle;
  margin-bottom: 1rem;
}

.logoBarra{
  height: 90px;
}

.imgPerfil{
  height: 55px;
  border-radius: 150px;
}

.menu{
  font-weight: bold;
}

.menu:hover{
  color:red;
  box-shadow: 0px 3px 0px 0px red;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  background-color: unset;
}
.dropdown-item.active:hover, .dropdown-item:active:hover {
  color: white;
  background-color: red;
}
.img_Perfil{
  text-align: center;
}

.dropdown-toggle::after{
  content: none;
}

.enlace-lista-beneficiarios, .enlace-crear-voluntario, .enlace-cerrar-sesion{
  color: black;
}

.enlace-lista-beneficiarios:hover, .enlace-crear-voluntario:hover, .enlace-cerrar-sesion:hover{
  background-color: red;
  color: white;
  text-decoration: none;
}



