
.logo{
    width: 200px; 
    display:flex;
    text-align:center;
    justify-content: center;
    align-items:center;
    margin:auto;
    margin-bottom: 15px;
}

.contenedorInputs {
    padding-top:1px;
    height:400px;
    width: 300px;
    background-color: #E7EBFF; 
    border-radius: 1mm ;
    box-shadow: 2px 2px 5px #999;
    margin: auto;  
    text-align: center;
}
.inputbox{
    border: none;
    padding: 0 40px 0 40px;
    margin-top: 7%;
}

.submitButton {
    
    box-shadow: 2px 2px 5px #999;
    border-radius: 1mm;
    color: white;
    text-align: center;
    display: inline-block; 
    font-size: 16px;
    margin:30px 0 20px 0;
  }
  
  .recuperarPassword:hoover{
      color: black;
  }