.beneficiario{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 3px 0px;
    margin-bottom: 2rem;
    padding: 1rem;
}

p{
    text-align: center;
}

.editarB{
    text-align: center;
}