.botones{
    text-align: center;
}

.botonEvent{
    margin: 0 0.5rem;
}

.listadoEventos{
    background-color: whitesmoke;
    width: 100%;
    padding-bottom: 1rem;
}
.contenedor-evento{
    padding: 1rem;   
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0px;
}

h3{
    font-size: 20px;
    text-align: center;
}

.nombreE{
    text-align: center;
}

.fechasEvento{
    width: 100%;
    display: flex;
    text-align: center;
}

.fechaE{
    margin: 0 auto;
}

