.nueva-actividad{
    padding: 1rem;
    text-align:center;
    background-color: whitesmoke;
    margin: 0 1rem 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px;
}

.button-danger{
    background: #F92438;
    color: #ffffff;
    margin-top: 1rem;
}

.button-primary{
    background: #3AFF36;
}