.listadoEventos{
    background-color: whitesmoke;
}

.titEvento{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 1px 1px 1px;
    margin-bottom: 1rem;
}

.listado-actividades{
    list-style: none;
    padding-right: 40px;
}
